
// 页面内容最宽1440px
.screen {
  max-width: 1440px;
  margin: auto;
}
// 链接字体黑体加粗
.fontWeight{
  color: #000!important;
  font-weight: bolder;
  &:hover,&:active {
    color: blue!important;
  }
}

.call {
  margin-left: 100px;
}