.screen {
  max-width: 1440px;
  margin: auto;
}
.fontWeight {
  color: #000!important;
  font-weight: bolder;
  font-size: 1rem;
}
.fontWeight:hover,
.fontWeight:active {
  color: #1378f1!important;
}
.call {
  margin-left: 3rem;
  padding-left: 1rem;
  background-image: url(../images/call.png);
  background-position: 0 40%;
  background-repeat: no-repeat;
}
.call a {
  color: #000!important;
  font-weight: bolder;
  font-size: 1rem;
  font-family: "Helvetica";
  padding-right: 0;
}
header .navbar-default {
  margin-bottom: 0;
  background-color: #fff;
  border: 0;
}
header nav .container-fluid {
  padding: 0;
}
header nav .container-fluid .navbar-header .navbar-brand {
  padding: 20px 15px 15px 15px;
}
header nav .container-fluid .navbar-header .navbar-brand img {
  height: 40px;
}
header nav .container-fluid .navbar-header .navbar-toggle {
  background-color: #fff;
}
header nav .container-fluid .collapse {
  padding: 15px 0;
}
header nav .container-fluid .collapse .navbar-nav li a {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-family: "PingFangSC-Regular";
}
.main {
  margin: auto;
}
.main .content {
  margin: 3rem auto 0 auto;
}
.main .content .content-item {
  margin-bottom: 3rem;
}
.main .content .content-item-l {
  float: right;
}
.main .content .content-item-l img {
  width: 100%;
}
.main .content .content-item-l .hidden-xs {
  width: 192px;
  margin: 0 auto;
  display: block;
}
.main .content .content-item-r {
  float: right;
}
.main .content .content-item-r video {
  width: 100%;
}
.main .content .content-item-r .content-text {
  max-height: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main .content .content-item-r .content-text p {
  line-height: 1.5rem;
  font-size: 0.8rem;
  font-family: "SourceHanSansCN-Regular";
  color: #999;
}
.main .content .content-item-r .box-title h1,
.main .content .content-item-r .box-title p {
  text-align: left;
}
.main .jobShow .row {
  margin: auto 0;
}
.main .jobShow .row .jobShow-item {
  max-height: 553px;
}
.main .news {
  margin: 3rem auto;
}
.main .news .news-box {
  margin-bottom: 3rem;
}
.main .news .news-box div {
  float: left;
  overflow: hidden;
}
.main .news .news-box div img {
  width: 100%;
}
.main .news .news-box .news-img-m {
  width: 100%;
  max-height: 234px;
  margin-bottom: 20px;
}
.main .news .news-box .news-img-s {
  width: 50%;
  max-height: 219px;
}
.main .news .news-box .news-img-s:first-child {
  margin-right: 10px;
}
.main .addr {
  border: 1px solid #b9b9b9;
  width: 99%;
  height: 8.9rem;
  margin: 0 auto 3rem auto;
}
.main .addr p {
  line-height: 1.1rem;
  font-size: 0.78rem;
  font-family: 'Helvetica';
  color: #999;
  display: block;
  margin-left: 40%;
  margin-top: 3.4rem;
}
.main .addr div {
  background-position: 30% 90%;
  background-repeat: no-repeat;
}
.main .addr .addr-phone {
  background-image: url(../images/phone.png);
}
.main .addr .addr-box {
  background-image: url(../images/point.png);
}
.main .addr .addr-mail {
  background-image: url(../images/mail.png);
}
.main .addr .addr-mail p {
  line-height: 2.2rem;
}
.main .box-title {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}
.main .box-title h1 {
  color: #000;
  font-family: "SourceHanSansCN-Bold";
}
.main .box-title p {
  color: #ccc;
  font-size: 1rem;
  font-weight: bolder;
  font-family: "Helvetica-Bold";
}
.main .box-btn {
  margin: 50px auto;
}
.main .box-btn a {
  width: 141px;
  height: 40px;
  border-radius: 20px;
  margin: auto;
  display: block;
  font-family: "PingFangSC-Regular";
  font-size: 0.78rem;
  color: #929292;
}
footer {
  width: 100%;
  background-color: #202020;
  padding: 50px 0;
}
footer p {
  text-align: center;
}
footer .router {
  max-width: 1400px;
  width: 100%;
  margin: 0 15px 3rem 15px;
  padding-bottom: 3rem;
  border-bottom: 1px solid #797979;
}
footer .router .router-l {
  float: left;
  width: 74%;
}
footer .router .router-l .router-l-t {
  width: 90%;
  border-bottom: 1px solid #797979;
}
footer .router .router-l .router-l-t a {
  display: inline-block;
  width: calc(12.85714286%);
  font-size: 0.89rem;
  line-height: 0.89rem;
  font-family: 'PingFangSC-Medium';
  color: #4d4d4d;
  padding: 2rem 1rem;
  text-align: left;
}
footer .router .router-l .router-l-f a {
  width: calc(12.85714286%);
  height: 42px;
  line-height: 42px;
  text-align: left;
  font-size: 0.78rem;
  font-family: 'PingFangSC-Regular';
  color: #fff;
  margin: 1rem auto;
  display: block;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
}
footer .router .router-l .router-l-f .link {
  padding-left: 1rem;
}
footer .router .router-l .router-l-f .f1 {
  background-image: url(../images/f1.png);
}
footer .router .router-l .router-l-f .f2 {
  background-image: url(../images/f2.png);
}
footer .router .router-l .router-l-f .f3 {
  background-image: url(../images/f3.png);
}
footer .router .router-l .router-l-f .f4 {
  background-image: url(../images/f4.png);
}
footer .router .router-l .router-l-f .f5 {
  background-image: url(../images/f5.png);
}
footer .router .router-l .router-l-f .f6 {
  background-image: url(../images/f6.png);
}
footer .router .router-r {
  float: left;
  width: 25%;
}
footer .router .router-r .wx {
  width: 45%;
  float: left;
  text-align: center;
  margin-right: 5%;
}
footer .router .router-r .wx p {
  display: block;
  font-size: 0.78rem;
  line-height: 0.78rem;
  padding: 1rem 0;
  font-family: 'PingFangSC-Regular';
  color: #fff;
}
footer .router .router-r .wx img {
  width: 100%;
}
footer .footTxt {
  font-family: 'STHeitiSC-Light';
  font-size: 0.78rem;
  line-height: 0.78rem;
  color: #a4a4a4;
}
